.settings-page {
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.settings-page h3 {
  margin-top: 0;
}

.settings-page p {
  margin: 0;
}

.settings-page h1 {
  margin: 0;
}

.settings-header {
  text-align: center;
}
