.app-title {
  font-size: 1.2rem;
  margin: 0;
  text-align: left;
}

.app-subtitle {
  text-align: left;
  color: var(--text-muted);
}

.app-title-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.app-title-container-inline {
  margin-top: 0;
  justify-content: flex-start;
}

.app-title-container > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.app-title-container p {
  margin: 0;
}

.app-icon {
  width: 5rem;
  aspect-ratio: 1 / 1;
  mask-image: url(/ios-mask.svg);
  mask-size: cover;
}
