.screenshots-inner button {
  width: 100%;
}

.screenshots-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.screenshot-image-container {
  background-color: var(--tertiary-background);
  padding: 0.5rem;
  width: fit-content;
  height: fit-content;
  border: 1px solid var(--glass-border);
  border-radius: 0.5rem;
  position: relative;
}

.screenshot-image-container div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: #00000060;
  transition: opacity 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--danger);
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}

.screenshot-image-container:hover div {
  opacity: 1;
}

.screenshots-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
